{:deps {org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/clojurescript {:mvn/version "1.10.238"}
        orchestra {:mvn/version "2017.11.12-1"}}
 :aliases {:dev {:extra-paths ["dev" "test"]
                 :extra-deps {expound {:mvn/version "0.7.0"}
                              com.cemerick/piggieback {:mvn/version "0.2.2"}
                              org.clojure/tools.nrepl {:mvn/version "0.2.13"}
                              cider/cider-nrepl {:mvn/version "0.17.0"}}
                 :main-opts ["-m" "bonsai.dev.cider"]}
           :test-clj {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/Olical/test-runner.git"
                                                              :sha "7c4f5bd4987ec514889c7cd7e3d13f4ef95f256b"}}
                      :main-opts ["-m" "cognitect.test-runner"]}
           :test-cljs {:extra-deps {olical/cljs-test-runner {:mvn/version "1.0.0"}}
                       :main-opts ["-m" "cljs-test-runner.main"]}}}
