{:deps {org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/clojurescript {:mvn/version "1.10.145"}
        orchestra {:mvn/version "2017.11.12-1"}}
 :aliases {:dev {:extra-deps {expound {:mvn/version "0.5.0"}}}
           :test-clj {:extra-paths ["test"]
                      :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/Olical/test-runner.git"
                                                              :sha "427a16c634201492984d2161d305baa09ab864cd"}}
                      :main-opts ["-m" "cognitect.test-runner"]}
           :test-cljs {:extra-deps {olical/cljs-test-runner {:mvn/version "0.1.0"}}
                       :main-opts ["-m" "cljs-test-runner.main"]}}}
