{:deps
 {org.clojure/clojure {:mvn/version "1.9.0"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps
   {com.cognitect/test-runner {:git/url "git@github.com:cognitect-labs/test-runner"
                               :sha "5f2b5c2efb444df76fb5252102b33f542ebf7f58"}}
   :main-opts ["-m" "cognitect.test-runner"]}
  :pack
  {:extra-deps
   {pack/pack.alpha
    {:git/url "git@github.com:juxt/pack.alpha.git"
     :sha     "e6d0691c5f58135e1ef6fb1c9dda563611d36205"}}
   :main-opts ["-m" "mach.pack.alpha.capsule" "deps.edn" "dist/bonsai.jar"]}}}
